/* 思源黑体 */
@import url('https://www.unpkg.com/font-online/css/source-han-sans.css');
/* Fira Code */
@import url('https://www.unpkg.com/firacode@6.2.0/distr/fira_code.css');
/* 江城圆体 */
@font-face {
  font-family: 'JiangChengYuanTi';
  src: url(/fonts/JiangChengYuanTi.woff2) format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --el-font-family: 'Noto Sans SC', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

  --el-font-family-monospace: 'Fira Code', 'SFMono-Regular', Consolas,
    'Liberation Mono', Menlo, monospace;

  --el-font-family-styled: 'JiangChengYuanTi', 'Noto Sans SC', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body {
  font-family: var(--el-font-family);
}

code, pre, kbd {
  font-family: var(--el-font-family-monospace);
}

.el-button, .el-input, .el-table {
  font-family: inherit; /* 继承主字体 */
}

.styled-font {
  font-family: var(--el-font-family-styled) !important;
}
